.grid{
    position: absolute;
    width: 598px;
    height: 298px;
    border: 1px solid black;
}
.block{
    position: absolute;
    width: 98px;
    height: 18px;
    background-color: blue;
    border: 1px solid black;
}

.user{
    position: absolute;
    width: 98px;
    height: 18px;
    background-color: purple;
    border: 1px solid black;
}

.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    
}
